git:
  depth: 10
notifications:
  email: false

before_install:
  - export BOTO_CONFIG=/dev/null

language: node_js
node_js:
  - "4"
os:
  - osx
env:
  - TARGET_ARCH=x64
osx_image: xcode7.3

matrix:
  include:
    - os: osx
      env: TARGET_ARCH=x64
  allow_failures:
    - os: osx

script: './script/cibuild'

branches:
  only:
    - dev-ymmuse
